sudo: false
language: ruby
rvm:
  - 2.3.8
  - 2.4.9
  - 2.5.7
  - 2.6.5
  - 2.7.0
before_install: gem install bundler
gemfile:
  - gemfiles/5.0_stable.gemfile
  - gemfiles/5.1_stable.gemfile
  - gemfiles/5.2_stable.gemfile
  - gemfiles/6.0_stable.gemfile
script: bundle exec rspec
